@import "../../../assets/styles/mixin/display-mixin",
  "../../../assets/styles/mixin/media-queries",
  "../../../assets/styles/variable";

.checkout-form-container {
  .checkout-form-inputs-top {
    @include flex-container(column, start, flex-start, 60px);
    @include desktop(){
      @include flex-container(column, start, flex-start, 55px);
      margin-top: 40px;
    }
    
  }
  .payment-title {
    margin-bottom: 48px;
    margin-top: 40px;
    @include desktop(){
      margin-bottom: 40px;
      margin-top: 40px;
    }
    h2 {
      font-size: 14px;
    }
  }
  .checkout-form-inputs-bottom {
    @include flex-container(column, start, flex-start, 60px);
    @include desktop(){
      @include flex-container(column, start, flex-start, 55px);
    }
  }
}
